body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #333; /* Darker header background color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    border: 5px solid #333;
    background-color: #333;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #333; /* Dark sidebar background color */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.sidebar a:hover {
    background-color: #555; /* Darker hover background color */
}

.content {
    flex: 1;
    padding: 20px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #333; /* Dark sidebar background color */
    }

    .sidebar.active {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }
}
.skill {
    margin-bottom: 20px;
    width: 50%; /* Each skill takes up half of the container width */
    float: left; /* Float the skills to the left to create the two-column layout */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0 10px; /* Add padding to create space between skills */
}

.progress {
    background-color: #ddd;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

.progress-bar {
    background-color: #4caf50; /* Green progress bar color */
    color: #fff;
    text-align: center;
    line-height: 20px; /* Centering the text vertically */
    border-radius: 5px;
    width: 0; /* Start with zero width */
    transition: width 1s ease-in-out; /* Add transition for smoother animation */
}

@media screen and (max-width: 768px) {
    .skill {
        width: 100%; /* On smaller screens, each skill takes up full width */
        float: none; /* Remove floating for single-column layout */
    }
}
