/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #333; /* Darker header background color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    border: 5px solid #333;
    background-color: #333;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333; /* Dark sidebar background color */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.sidebar a:hover {
    background-color: #555; /* Darker hover background color */
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    position: relative; /* Ensure relative positioning for absolute elements */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #333; /* Dark sidebar background color */
    }

    .sidebar.active {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }

    /* Display project cards in vertical layout */
    .show-projects {
        flex-direction: column;
        align-items: center; /* Center align cards horizontally */
    }

    /* Adjust spacing between project cards */
    .show-projects .project-card {
        margin-bottom: 20px;
    }
}

/* Project card */
.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    flex: 0 0 auto;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.project-card .card-content {
    padding: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
}

.project-card p {
    color: #555;
    font-size: 16px;
}

/* Horizontal scrolling */
.show-projects {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* Adjust spacing between project cards */
.show-projects .project-card {
    margin-right: 10px;
}
